body {
	background-color: #FFA500;
}

#wrap{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: auto;
	
	border: 5px dashed #000000;

	width: 600px;
	background: #FFF8DC;

	
}

h1{
	border-bottom: 5px dashed #000000;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	margin: 0;
	width: 100%;

}

p{
	padding-left: 20px;
	padding-right: 20px;
}



ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
}

li::first-letter{
	font-weight: bold;
	font-size: 24px;
}

li{
 	font-style: italic;
}