 .border_top {
    border-top: 5px solid #000000;
  }

  .border-left-right{
    border-left: 5px solid #000000;
    border-right: 5px solid #000000;
  }

  .col-xs-4{
    text-align: center;
  }

  section  h1{
    height: 100px;
    justify-content: center;
  }